{{#each error}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h2>Crie sua conta</h2>
<div class="card">
    <div class="card-body">
        <form action="" method="post">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" class="form-control">
            <label for="email">E-mail:</label>
            <input type="email" name="email" class="form-control">
            <label for="senha">Senha:</label>
            <input type="password" name="senha" class="form-control">
            <label for="senhaRepetida">Repita a senha:</label>
            <input type="password" name="senhaRepetida" class="form-control">
            <button type="submit" class="btn btn-success mt-4">Criar conta</button>
        </form>
    </div>
</div>